html, body, #map-canvas {
height: 100%;
margin: 0px;
padding: 0px
}
#panel {
position: absolute;
top: 5px;
left: 50%;
margin-left: -180px;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
opacity: 0.8;
font-family: Verdana;
font-size: small;
visibility: visible;
}
#legend {
position: absolute;
bottom: 5px;
left: 50%;
margin-left: -180px;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
opacity: 0.8;
font-family: Verdana;
font-size: small;
}
#legend div {
font-size: smaller;
}
